/*
   den 29 november 201517:16:22
   User: 
   Server: DELTA
   Database: Quilt4
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.ProjectPageProject.ClientToken', N'Tmp_ProjectApiKey_1', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.ProjectPageProject.Tmp_ProjectApiKey_1', N'ProjectApiKey', 'COLUMN' 
GO
ALTER TABLE dbo.ProjectPageProject SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.ProjectPageProject', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.ProjectPageProject', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.ProjectPageProject', 'Object', 'CONTROL') as Contr_Per 