@model Quilt4.Service.Models.SystemStatus
@{
    if(!@Model.CanWriteToLog)
    {
        <p style="background-color: pink;">Cannot access the event log. Run this service with elevated priviligues once, so that a section for the event log can be created.</p>
    }

    if (!@Model.CanConnectToDatabase)
    {
        <p style="background-color: pink;">Cannot access the database.</p>
    }
}