<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <sectionGroup name="Quilt4">
      <section name="Quilt4Net" type="Quilt4Net.ConfigSection, Quilt4Net" />
    </sectionGroup>
    <sectionGroup name="Quilt4">
      <section name="Quilt4Net" type="Quilt4Net.ConfigSection, Quilt4Net" />
    </sectionGroup>
  </configSections>
  <Quilt4>
    <Quilt4Net ProjectApiKey="" Enabled="true" UseBuildTime="false">
      <Session Environment="Dev" />
      <Target Location="https://service.quilt4.com" Timeout="60" />
    </Quilt4Net>
  </Quilt4>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
