<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Quilt4.Service.Repository.Properties.Settings.Quilt4ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Quilt4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Quilt4.Service.Repository.Properties.Settings.Quilt4ConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=Quilt4;User ID=sa;Password=Inca12"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>