<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Quilt4">
      <section name="Quilt4Net" type="Quilt4Net.ConfigSection, Quilt4Net"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Quilt4.Service.Repository.Properties.Settings.Quilt4ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Quilt4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Quilt4.Service.SqlRepository.Properties.Settings.Quilt4ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Quilt4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Quilt4.Service.SqlRepository.Properties.Settings.Quilt4ConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=Quilt4;User ID=sa;Password=Inca12"
      providerName="System.Data.SqlClient" />
    <add name="Quilt4.Service.SqlRepository.Properties.Settings.Quilt4ConnectionString2"
      connectionString="Data Source=localhost;Initial Catalog=Quilt4;Integrated Security=True;Persist Security Info=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
<Quilt4>
<Quilt4Net ProjectApiKey="" Enabled="true" UseBuildTime="false">
<Session Environment="Dev"/>
<Target Location="https://service.quilt4.com" Timeout="60"/>
</Quilt4Net>
</Quilt4>
</configuration>
