
@{
    //ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<p>
    Please send an email to <a href="mailto:quilt4@thargelion.se">quilt4@thargelion.se</a> if you have any questions about how quilt4 works or how to contribute.
</p>