
@{
    //ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<p>
    Please send an email to <a href="mailto:info@quilt4.com">info@quilt4.com</a> if you have any questions about how quilt4 works or how to contribute.
</p>