<div class="jumbotron">
    <h1>Quilt4 Platforms</h1>
    <a href="~/Platform/Net"><img src="~/images/VisualStudio.png" Title=".NET"/></a>
    @*<a href="~/Platform/Express"><img src="~/images/Express.png" /></a>*@
    @*<a href="~/Platform/Node"><img src="~/images/Node.png" /></a>*@
    @*<a href="~/Platform/Unity"><img src="~/images/Unity3d.png" /></a>*@
    <p class="lead">Missing support for your platform? Be the one to start a new open source GitHub project!</p>
    <p><a href="~/Home/Contribute" class="btn btn-primary btn-lg">How to &raquo;</a>
    </p>
</div>
<p>
    You have reached the Quilt4Service. This is what all clients and the web communicates with and where data is stored.
    If you are a developer that works or want to work with the quilt4 platform, this is the site for you.
    Otherwise you probably want to visit the Quilt4 Web instead.
</p>
<div class="row">
    @*<div class="col-md-4">
        <h2>Quilt4 Web</h2>
        <p>The Quilt4.com web is the easiest way to make use of the quilt4 services.</p>
        <p><a class="btn btn-default" href="@ViewBag.WebUrl" target="_blank">Go there &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>WebAPI documentation</h2>
        <p>The complete documentation for WebAPI.</p>
        <p><a class="btn btn-default" href="~/Help">Go there &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
