@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>.net</h2>

<p>
    Download the latest <a href="https://www.nuget.org/packages/Quilt4Net" target="NuGet">NuGet</a> package or get the code from <a href="https://github.com/Quilt4/Quilt4Net" target="GitHub">GitHub</a>.
</p>